#projectCards {
    display: flex;
    flex-flow: row wrap;
    margin: 40px 0 40px 0;
    justify-content: space-between;
}

.card {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 240px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all 0.2s ease-in-out;
    margin: 20px;
    padding: 10px;
    cursor: context-menu;
    user-select: none;
}

.card>h1 {
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Baloo Thambi 2', serif;
    margin: 0;
    text-align: center;
}

.card>h2 {
    font-size: 1.9em;
    font-family: 'Baloo Thambi 2', serif;
    margin: 0;
    text-align: center;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
}

.card>h3 {
    font-size: 1.3em;
    font-family: 'Baloo Thambi 2', serif;
    margin: 0;
    text-align: center;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
}

.card>h4 {
    font-size: 1.5em;
    font-family: 'Baloo Thambi 2', serif;
    margin: 0;
    text-align: center;
    font-weight: 200;
    color: white;
}

.card>p {
    color: white !important;
    text-align: center;
    font-size: 1.3em;
}

/* Scale up the box */

.active {
    cursor: pointer;
}

.active>h1, .active>h2 {
    color: white !important;
}

.active:hover {
    transform: scale(1.04, 1.04);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 3px 5px 0px, rgba(14, 30, 37, 0.32) 0px 3px 17px 0px;
}

#p1 {
    background-image: linear-gradient(330deg, #63c223 0%, #407e16 74%);
}

#p2 {
    background-image: linear-gradient(330deg, #2cac47 0%, #0c6820 74%);
}

#p3 {
    background-image: linear-gradient(330deg, #26cc8c 0%, #198a5f 74%);
}

#p4 {
    background-image: linear-gradient(330deg, #03FAFE 0%, #2FB2B4 74%);
}

#p5 {
    background-image: linear-gradient(330deg, #01C7FE 0%, #2D7C92 74%);
}

#p6 {
    background-image: linear-gradient(330deg, #007adf 0%, #0969b8 74%);
}

#p7 {
    background-image: linear-gradient(330deg, #5d25f8 0%, #552f9c 74%);
}

#p8 {
    background-image: linear-gradient(330deg, #c302fe 0%, #931dab 74%);
}

#p9 {
    background-image: linear-gradient(330deg, #FE03D4 0%, #C8309D 74%);
}

#p10 {
    background-image: linear-gradient(330deg, #FE0270 0%, #93195A 74%);
}

#p11 {
    background-image: linear-gradient(330deg, #EF1313 0%, #AB2222 74%);
}

#p12 {
    background-image: linear-gradient(330deg, #fc9637 0%, #ce711b 74%);
}