body {
    background-color: rgb(27, 27, 27);
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}

h1 {
    font-family: 'Alegreya', serif;
    color: white;
    text-align: center;
    font-size: 5vh;
    letter-spacing: 2px;
    margin: 10px;
}

h2 {
    font-family: 'Alegreya', serif;
    color: white;
    text-align: center;
    font-size: 4vh;
    letter-spacing: 2px;
    margin: 10px;
}

h3 {
    font-family: 'Heebo', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 3vh;
    text-align: center;
    user-select: none;
}

p {
    font-family: 'Heebo', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 4vh;
    text-align: center;
    user-select: none;
}

.keyContainer {
    background-color: rgb(59, 59, 59);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#separator {
    width: 100%;
    height: 1px;
    background-color: rgb(59, 59, 59);
}

#container {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px 30px;
    gap: 4px;
}

#keyboard {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    padding: 10px;
}

#topRow,
#middleRow,
#bottomRow {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    justify-content: center;
}

.keyContainer>p {
    margin: 0;
    font-weight: 400;
    font-size: 1.8vh;
}

.word {
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
    justify-content: space-between;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter>p {
    margin: 0;
    font-weight: 400;
}


.empty {
    border: 2px solid rgb(43, 43, 43);
}

.filled {
    border: 2px solid rgb(90, 90, 90);
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-name: bounce-2;
    animation-timing-function: linear;
}

.incorrect_key {
    transition: 400ms;
    background-color: rgb(34, 34, 34);
}

.correct_key {
    transition: 400ms;
    background-color: rgb(57, 139, 57);
}

.partial_key {
    transition: 400ms;
    background-color: rgb(230, 179, 40);
}

.incorrect {
    background-color: rgb(66, 66, 66);
    border: 2px solid rgb(66, 66, 66);
}

.correct {
    background-color: rgb(57, 139, 57);
    border: 2px solid rgb(57, 139, 57);
}

.partial {
    background-color: rgb(230, 179, 40);
    border: 2px solid rgb(230, 179, 40);
}

.incorrect,
.correct,
.partial {
    transition: 400ms;
    animation-duration: 450ms;
    animation-iteration-count: 1;
    animation-name: flip-1;
    animation-timing-function: linear;
}

.completeAnimation {
    animation-duration: 550ms;
    animation-iteration-count: 1;
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-40px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-10px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes flip-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}


#overlay {
    position: fixed;
    visibility: hidden;
}

#popup {
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    position: relative;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
}

#popup #close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
    color: white;
}

#popup #content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}